*{
  box-sizing: border-box;
}

body,
html{
  /* background: #111; */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: monospace;
  width: 100%;
  height: 100%;
}

form{
  max-width: 34rem;
  width: 90%;
}

form > div{
  position: relative;
}

form label{
  position: absolute;
  opacity: 0.6;
  font-size: 1.25rem;
  left: 1rem;
  pointer-events: none;
  color: #f2cb79;
  transition: all .22s;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

form input{
  width: 100%;
  padding: 1.5rem;
  background: #222;
  margin: 1.5rem 0;
  border: none;
  color: #aaa;
  font-size: 1.125rem;
}

form input:focus{
  background: #333;
  outline: 0;
}

form input:focus + label,
form input:hover + label,
form input:valid + label
{
  top: 0;
  font-size: 1.125rem;
  transform: translateY(0);
  left: 0;
  opacity: 1;
}

form .cover{
  width: 100%;
  position: absolute;
  background: #111;
  height: 4px;
  top: 1.25rem;
}